<div class="card">
    <button
      class="btn bg-warning card-header collapsed"
      id="headingOne"
      type="button"
      data-toggle="collapse"
      data-target="#collapseOne"
      aria-expanded="false"
      aria-controls="collapseOne"
    >
      <h1>Oakland</h1>
    </button>
    <!-- Activator Button ^^^-->
    <!-- Accordion \/\/ -->
    <div
      id="collapseOne"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#citySelector"
    >
      <div class="card-body d-flex">
        <div
          class="btn-group-lg flex-fill btn-group-vertical"
          role="group"
          aria-label="Btn-Group"
        >

        <% for (i in oakl ) {

            <button
            onclick="location.href='<% oaklkeys[i] %>'"
            type="button"
            class="btn btn-dark"
            value="19th"
            >
            <% oakl[i] %>
            
            </button>


        }