<div class="accordion" id="citySelector">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h1 class="mb-0">
        <button
          class="btn btn-link  collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="false"
          aria-controls="collapseOne"
        >
          Oakland
        </button>
      </h1>
    </div>

    <div
      id="collapseOne"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#citySelector"
    >
      <div class="card-body">
        <button class="m-1 btn btn-dark" value="19th">
          19th Street
        </button>
        <button class="m-1 btn btn-dark" value="12th">
          12th Street
        </button>
        <button class="m-1 btn btn-dark" value="lake">
          Lake Meritt
        </button>
        <button class="m-1 btn btn-dark" value="woak">
          West Oakland
        </button>
        <button class="m-1 btn btn-dark" value="cols">
          Coliseum
        </button>
        <button class="m-1 btn btn-dark" value="ftvl">
          Fruitvale
        </button>
        <button class="m-1 btn btn-dark" value="mcar">
          MacArthur
        </button>
        <button class="m-1 btn btn-dark" value="oakl">
          Oak Airport
        </button>
        <button class="m-1 btn btn-dark" value="cols">
          Coliseum
        </button>
        <button class="m-1 btn btn-dark" value="rock">
          Rockridge
        </button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button
          class="btn btn-link collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          San Francisco
        </button>
      </h2>
    </div>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#citySelector"
    >
      <div class="card-body">
        <button>
          BUTTON
        </button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button
          class="btn btn-link collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          North Bay
        </button>
      </h2>
    </div>
    <div
      id="collapseThree"
      class="collapse"
      aria-labelledby="headingThree"
      data-parent="#citySelector"
    >
      <div class="card-body">
        <button>
          BUTTON
        </button>
      </div>
    </div>
  </div>
</div>
