<div class="accordion" id="citySelector">
  <!-- %- include('serviceMap');  -->
  


<!-- Oakland -->

<div class="card">
  <button
    class="btn bg-warning card-header collapsed"
    id="headingOne"
    type="button"
    data-toggle="collapse"
    data-target="#collapseOne"
    aria-expanded="false"
    aria-controls="collapseOne"
  >
    <h1>Oakland</h1>
  </button>
  <!-- Activator Button ^^^-->
  <!-- Accordion \/\/ -->
  <div
    id="collapseOne"
    class="collapse"
    aria-labelledby="headingOne"
    data-parent="#citySelector"
  >
    <div class="card-body d-flex">
      <div
        class="btn-group-lg flex-fill btn-group-vertical"
        role="group"
        aria-label="Btn-Group"
      >
        <button
          onclick="location.href='19th'"
          type="button"
          class="btn btn-dark"
          value="19th"
        >
          19th Street
        </button>
        <button
          onclick="location.href='12th'"
          type="button"
          class="btn btn-dark"
          value="12th"
        >
          12th Street
        </button>
        <button
          onclick="location.href='lake'"
          type="button"
          class="btn btn-dark"
          value="lake"
        >
          Lake Meritt
        </button>

        <button
          onclick="location.href='woak'"
          type="button"
          class="btn btn-dark"
          value="woak"
        >
          West Oakland
        </button>
        <button
          onclick="location.href='cols'"
          type="button"
          class="btn btn-dark"
          value="cols"
        >
          Coliseum
        </button>
      </div>
      <!-- Half of Form Group -->
      <div
        class="btn-group-vertical ml-1 flex-fill btn-group-lg"
        role="group"
        aria-label="Btn-Group"
      >
        <button
          onclick="location.href='ftvl'"
          type="button"
          class="btn btn-dark"
          value="ftvl"
        >
          Fruitvale
        </button>

        <button
          onclick="location.href=' mcar '"
          type="button"
          class="btn btn-dark"
          value="mcar"
        >
          MacArthur
        </button>

        <button
          onclick="location.href=' cols '"
          type="button"
          class="btn btn-dark"
          value="cols"
        >
          Coliseum
        </button>
        <button
          onclick="location.href=' rock '"
          type="button"
          class="btn btn-dark"
          value="rock"
        >
          Rockridge
        </button>
      </div>
    </div>
  </div>
</div>
<!-- SAN FRAN AN SOUTH SAN FRAN -->
<div class="card rounded">
  <button
    class="btn bg-warning rounded card-header collapsed"
    id="headingTwo"
    type="button"
    data-toggle="collapse"
    data-target="#collapseTwo"
    aria-expanded="false"
    aria-controls="collapseTwo"
  >
    <h1 class="m-0">San Francisco</h1>
    <small class="m-0"> & South San</small>
  </button>

  <div
    id="collapseTwo"
    class="collapse"
    aria-labelledby="headingTwo"
    data-parent="#citySelector"
  >
    <div class="card-body d-flex">
      <div
        class="btn-group-lg flex-fill btn-group-vertical"
        role="group"
        aria-label="Btn-Group"
      >
        <button
          onclick="location.href=' 16th '"
          class=" btn btn-dark"
          value="16th"
        >
          16th Street Mission
        </button>
        <button
          onclick="location.href=' 24th '"
          class=" btn btn-dark"
          value="24th"
        >
          24th Street Mission
        </button>
        <button
          onclick="location.href=' balb '"
          class=" btn btn-dark"
          value="balb"
        >
          Balboa Park
        </button>
        <button
          onclick="location.href=' civc '"
          class=" btn btn-dark"
          value="civc"
        >
          Civic Center
        </button>
        <button
          onclick="location.href=' colm '"
          class=" btn btn-dark"
          value="colm"
        >
          Colma
        </button>
        <button
          onclick="location.href=' daly '"
          class=" btn btn-dark"
          value="daly"
        >
          Daly City
        </button>
      </div>
      <!-- Half Of Form Group -->
      <div
        class="btn-group-lg ml-1 flex-fill btn-group-vertical"
        role="group"
        aria-label="Btn-Group"
      >
        <button
          onclick="location.href=' embr '"
          class=" btn btn-dark"
          value="embr"
        >
          Embarcadero
        </button>
        <button
          onclick="location.href=' glen '"
          class=" btn btn-dark"
          value="glen"
        >
          Glen Park
        </button>
        <button
          onclick="location.href=' mlbr '"
          class=" btn btn-dark"
          value="mlbr"
        >
          Milbrae
        </button>
        <button
          onclick="location.href=' mont '"
          class=" btn btn-dark"
          value="mont"
        >
          Montgomery
        </button>
        <button
          onclick="location.href=' sfia '"
          class=" btn btn-dark"
          value="sfia"
        >
          Sfo Airport
        </button>
        <button
          onclick="location.href=' ssan '"
          class=" btn btn-dark"
          value="ssan"
        >
          South San Francisco
        </button>
        <button
        onclick="location.href=' sbrn  '"
        class=" btn btn-dark"
        value="sbrn"
        >
        San Bruno
      </button>
    </div>
    </div>
  </div>
</div>

<!-- NORF BAE  -->

<div class="card rounded">
  <button
    class="btn bg-warning rounded card-header collapsed"
    type="button"
    id="headingThree"
    data-toggle="collapse"
    data-target="#collapseThree"
    aria-expanded="false"
    aria-controls="collapseThree"
  >
    <h1>North Bay</h1>
  </button>
  <!--  -->
  <div
    id="collapseThree"
    class="collapse"
    aria-labelledby="headingThree"
    data-parent="#citySelector"
  >
    <div class="card-body d-flex">
      <div 
      class="btn-group-lg flex-fill btn-group-vertical"
      role="group"
        aria-label="Btn-Group"
      >
          <button
            onclick="location.href='ashb'"
            class=" btn btn-dark"
            value="16th"
          >
            Ashby
          </button>
          <button
            onclick="location.href='antc'"
            class=" btn btn-dark"
            value="24th"
          >
            Antioch
          </button>
          <button
            onclick="location.href='conc'"
            class=" btn btn-dark"
            value="balb"
          >
            Concord
          </button>
          <button
            onclick="location.href='dbrk'"
            class=" btn btn-dark"
            value="civc"
          >
            Downtown Berkeley
          </button>
          <button
            onclick="location.href='deln'"
            class=" btn btn-dark"
            value="colm"
          >
            El Corrito del Norte
          </button>
          <button
            onclick="location.href='plza'"
            class=" btn btn-dark"
            value="daly"
          >
            El Corrito Plaza
          </button>

          <button
            onclick="location.href='lafy'"
            class=" btn btn-dark"
            value="embr"
          >
            Lafayette
          </button>
        </div>
        <div
          class="btn-group-lg ml-1 flex-fill btn-group-vertical"
          role="group"
          aria-label="Btn-Group"
        >
          <button
            onclick="location.href='Milpitas'"
            class=" btn btn-dark"
            value="glen"
          >
            Milpitas
          </button>
          <button
            onclick="location.href='nbrk'"
            class=" btn btn-dark"
            value="mont"
          >
            North Berkeley
          </button>
          <button
            onclick="location.href='ncon'"
            class=" btn btn-dark"
            value="mlbr"
          >
            North Concord / Martinez
          </button>
          <button
            onclick="location.href='orin'"
            type="button"
            class=" btn btn-dark"
            value="sfia"
          >
            Orinda
          </button>
          <button
            onclick="location.href=' pitt '"
            type="button"
            class=" btn btn-dark"
            value="ssan"
          >
            Pittsburg/ Bay Point
          </button>
          <button
            onclick="location.href='pctr'"
            type="button"
            class=" btn btn-block btn-dark"
            value="sbrn"
          >
            Pittsburg Center
          </button>
          <button  
          onclick="location.href='phil'"
          type="button"
            class=" btn btn-block btn-dark"
            value="sbrn"
          >
            Pleasant Hill
          </button>
          <button
            onclick="location.href='rich'"
            type="button"
            class=" btn btn-block btn-dark"
            value="sbrn"
          >
            Richmond
          </button>
        </div>
      </div>
    </div>
  </div>
    <!--End  Norf Bae -->

    <!-- Souf Bae -->

<div class="card">
  <button
    class="btn bg-warning card-header collapsed"
    id="headingFour"
    type="button"
    data-toggle="collapse"
    data-target="#collapseFour"
    aria-expanded="false"
    aria-controls="collapseFour"
  >
    <h1>South Bay</h1>
  </button>
  <!-- Activator Button ^^^-->
  <!-- Accordion \/\/ -->
  <div
    id="collapseFour"
    class="collapse"
    aria-labelledby="headingFour"
    data-parent="#citySelector"
  >
    <div class="card-body d-flex">
      <div
        class="btn-group-lg flex-fill btn-group-vertical"
        role="group"
        aria-label="Btn-Group"
      >
        <button
          onclick="location.href='bayf'"
          type="button"
          class="btn btn-dark"
          value="19th"
        >
          Bay Fair Mall
        </button>
        <button
          onclick="location.href='cast'"
          type="button"
          class="btn btn-dark"
          value="12th"
        >
          Castro Valley
        </button>
        <button
          onclick="location.href='dubl'"
          type="button"
          class="btn btn-dark"
          value="lake"
        >
         Dublin / Pleasanton
        </button>

        <button
          onclick="location.href='frmt'"
          type="button"
          class="btn btn-dark"
          value="woak"
        >
          Fremont
        </button>
        <button
          onclick="location.href='hayw'"
          type="button"
          class="btn btn-dark"
          value="cols"
        >
          Hayward
        </button>
        <button
        onclick="location.href='phil'"
        type="button"
        class="btn btn-dark"
        value="ftvl"
        >
        Pleasant Hill
      </button>
      
    </div>

    <div
      class="btn-group-vertical ml-1 flex-fill btn-group-lg"
      role="group"
      aria-label="Btn-Group"
    >

        <button
          onclick="location.href='sanl'"
          type="button"
          class="btn btn-dark"
          value="mcar"
        >
          San Leandro
        </button>

        <button
          onclick="location.href='shay'"
          type="button"
          class="btn btn-dark"
          value="cols"
        >
          South Hayward
        </button>
        <button
          onclick="location.href='ucty'"
          type="button"
          class="btn btn-dark"
          value="rock"
        >
          Union City
        </button>
        <button
          onclick="location.href='warm'"
          type="button"
          class="btn btn-dark"
          value="rock"
        >
          Warm Springs South Fremont
        </button>
        <button
          onclick="location.href='wcrk'"
          type="button"
          class="btn btn-dark"
          value="rock"
        >
          Walnut Creek
        </button>
        <button
          onclick="location.href='wdub'"
          type="button"
          class="btn btn-dark"
          value="rock"
        >
          West Dublin
        </button>
      </div>
    </div>
  </div>
</div>
