<div class="nav row p-4 mx-auto text-center bg-primary navbar-dark">
  <div class="p-2 col">
    <h1 class="text-light">
      <%= North.root.station[0].name %>
    </h1>
    <%- include('button'); -%>
  </div>
  <% if (North.message != " ") { %>
  <p class="text-warning text-center h4"> <%= North.message%></p>
  <% } %>
</div>
