<div class="nav row p-1 mx-auto text-center bg-primary navbar-dark">
  <div class="p-1 col">

    <%- include('button'); -%>
  </div>
  <% if (North.message) { %>
  <p class="text-warning text-center h4"> <%= North.message.warning %></p>
  <% } %>
</div>
