<div class="card">
    <button
      class="btn bg-warning rounded card-header collapsed"
      type="button"
      id="headingMap"
      data-toggle="collapse"
      data-target="#collapseMap"
      aria-expanded="true"
      aria-controls="collapseMap"
    >
      <h1>Service Map</h1>
    </button>

    <div
      id="collapseMap"
      class="show"
      aria-labelledby="headingMap"
      data-parent="#citySelector"
    >
      <div class="card-body ">
        800x350 WebP Image
      </div>
    </div>
  </div>
</div>