<div id="accordion">
    <div class="card text-center">
    <div class="card-header bg-warning nav row m-3 text-center navbar-light" id="subscriptionBox">
        <button class="btn text-primary text-center mx-auto" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
        <h1>Schedule Alerts</h1>
        </button>
        </div>
    <div 
    id="collapseThree" 
    class="collapse show" 
    aria-labelledby="subscriptionBox" 
    data-parent="#accordion">
        <p class="text-primary text-center"> 
        We can send your dialy boarding information to you so you never get surprised again by a late train </p>
        <form 
        class="card-body btn btn-link collapsed" data-toggle="collapse" 
        data-parent="accordion">
            
            <table class="table table-striped">
                <tr>
                    <th>Day</th>
                    <th>Time</th>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td>
                        <input type="time" name="" id="">
                        <input type="hidden" value="Monday">

                    </td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>
                        <input type="time" name="" id="">
                        <input type="hidden" value="Tuesday">

                    </td>
                </tr>
                <tr>
                    <td>Wednesay</td>
                    <td>
                        <input type="time" name="" id="">
                        <input type="hidden" value="Wednesay">
                    </td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>
                        <input type="time" name="" id="">
                        <input type="hidden" value="Thursday">

                    </td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>
                        <input type="time" name="" id="">
                        <input type="hidden" value="Friday">
                    </td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>
                        <input type="time" name="" id="">
                        <input type="hidden" value="Saturday">
                    </td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>
                        <input type="time" value="" name="" id="">
                        <input type="hidden" value="Sunday">
                    </td>
                </tr>
            </table>
            </div>
            <br>
            <div class="form-group">
            <div class="form-check form-switch">
                <label 
                class="text-primary" 
                for="phoneSwitch">Text Notification</label>
                <!-- <input 
                class="form-check-input" 
                type="checkbox" 
                role="switch" 
                id="phoneSwitch"> -->
                <input 
                type="tel" 
                placeholder="Phone #" 
                aria-label="Phone number input for scheduled notifications">
            </div>
            <br>
            <div class="form-check form-switch" >
                <label 
                class="form-check-label text-primary" 
                for="emailSwitch">
                Email Notification</label>
                <!-- <input 
                class="form-check-input" 
                type="checkbox" 
                role="switch" 
                id="emailSwitch"
                data-toggle="disable"
                data-target="emailInput"> -->
                <input 
                type="email"
                id="emailInput"
                placeholder="@"
                aria-label="Email input for scheduled notifications">
            </div>
        </div>
            <!-- Make the date, time module an EJS file and call it if the user clicks the button -->
            </select>
           
            <p class="display-4 col">From <%= North.root.station[0].name %></p>
            <button class="bg-primary text-warning " type="submit">North</button>
            <button class="bg-warning text-primary " type="submit">South</button>
    </div>
  </div>
</div>